<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>ToyotaMarketplace</title>

    <!-- Tailwind CSS -->
    <link href="~/css/site.css" rel="stylesheet" />
</head>

<body class="bg-gray-100">

    <partial name="_Navbar" />

    <div class="container mx-auto mt-6">
        @RenderBody()
    </div>

</body>
</html>